#container,
#container div {
	border: 5px solid #487886;
	margin: 10px;
}
#flex-container {
	display: flex;
}
#flex-container .wrap {
	width: 50%;
}

.right3 button {
	border: none;
	width: 100%;
	padding: 10px 0;
	cursor: pointer;
	color: black;
}

.right3 button#increment {
	background-color: rgb(95, 158, 160, 0.5);
}
.right3 button#decrement {
	background-color: rgb(159, 98, 96, 0.5);
}
.right3 .button-box {
	display: flex;
	margin: 0px;
	border: none;
}
